html, body {
    width: 100vw;
    height: 100vh;
    background-image: url(images/marvel-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.content {
    width: 1280px;
    height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'refrigerator-light';
    src: url('fonts/Refrigerator-Deluxe-Light.otf');
}

@font-face {
    font-family: 'refrigerator';
    src: url('fonts/Refrigerator-Deluxe.otf');
}

@font-face {
    font-family: 'refrigerator-bold';
    src: url('fonts/Refrigerator-Deluxe-Bold.otf');
}

@font-face {
    font-family: 'refrigerator-extrabold';
    src: url('fonts/Refrigerator-Deluxe-ExtraBold.otf');
}

@font-face {
    font-family: 'refrigerator-heavy';
    src: url('fonts/Refrigerator-Deluxe-Heavy.otf');
}

hr {
    border: 1px solid white;
    width: 75%;
    margin-bottom: 25px;
}

h1{
    font-size: 72px;
    text-align: center;
    font-family: refrigerator-heavy;
    color: rgb(255, 0, 0);
    margin-bottom: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);}

h3{
    text-align: center;
}

#input h4{
    font-family: refrigerator-light;
}

p{
    text-align: center;
}

#input{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#input h2{
    margin: 0;
    font-size: 40px;
    font-family: refrigerator-extrabold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .75);
}

#input{
    justify-content: center;
    align-items: center;
}

#input h4{
    margin: 0;
    font-size: 24px;
    font-family: refrigerator;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}

.bday{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

#bday-input {
    background: none;
    border: 5px solid rgb(190, 198, 255);
    font-size: 24px;
    cursor: pointer;
    font-family: refrigerator;
    color: white;
    padding: 10px;
    margin-left: 15px;
}

#bday-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#bday-submit{
    background: none;
    border: 5px solid rgb(255, 0, 0);
    font-size: 24px;
    cursor: pointer;
    font-family: refrigerator;
    color: white;
    margin-left: 15px;
}

#help-button{
    margin-top: 5px;
    font-family: refrigerator-light;
    font-size: 24px;
    color: white;
    text-decoration: underline;
}

#help-button:hover{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

#help-popup{
    font-family: refrigerator;
    font-size: 24px;
    color: white;
}

#closehelp-button{
    margin-top: 5px;
    font-family: refrigerator-light;
    font-size: 24px;
    color: white;
    text-decoration: underline;
}

#closehelp-button:hover{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

/*container for the zodiac icons*/
#zodiacs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

.icons{
    width: 150px;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button:active{
    transform: translate(2px, 2px);
  
}

#input.hideMe{
    display: none !important;
}

#hr.hideMe{
    display: none !important;
}

#zodiacs.hideMe{
    display: none !important;
}

#results-area.hideMe{
    display: none !important;
}

#help-popup.hideMe{
    display: none;
}

#help-button.hideMe{
    display: none;
}

#help-popup{
    border: 5px solid rgb(77, 97, 224);
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    color: black;
}

#help-popup h2{
    color: red;
    text-shadow: none;
    text-decoration: underline;
}

#closehelp-button{
    color: black;
    margin-bottom: 15px;
}

#results-area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 5px solid rgb(77, 97, 224);
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    max-width: 750px;
}

#results-area button{
    border: 5px solid rgb(255, 0, 0);
    font-family: refrigerator;

}

#results-area img{
    width: 250px;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    font-size: 24px;
    cursor: pointer;
}

#hero-name{
   margin: 0;
}

#date-range{
    margin: 0;
    margin-bottom: 15px;
}

.hero-info {
    position: relative;
    display: flex;
    align-items: left;
    gap: 20px;
}

#hero-image{
    width: 300px;
}

#hero-name{
    font-size: 64px;
    font-family: refrigerator-heavy;
    color: rgb(77, 97, 224);
}
#date-range{
    font-size: 48px;
    font-family: refrigerator-light;
    color: rgb(255, 0, 0);
}
#description{
    font-size: 24px;
    font-family: refrigerator;
    color: rgb(0, 0, 0);
}