html{
    width: 100%;
    height: 100%;
    background-color: #cab5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: momentz;
    src: url(fonts/Momentz.ttf);
}

h1{
    font-size: 64px;
    text-align: center;
    font-family: momentz;
    color: white;
    margin: 15px 0;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

.input{
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input h2, .input h4{
    margin: 0;
}

.zodicats {
    background-color: rgb(164, 126, 217);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 15px;
    row-gap: 15px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.cat-icons{
    background-color: white;
    width: 100%;
    max-width: 125px;
    height: auto;
}